{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            Django Todo Application
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'core/base.css' %}">
    <script src="{% static 'core/base.js' %}"></script>
  </head>
  <body>
  <div class="card-header">
      <div>
          <h2> To Do Items <button type="button" class="btn btn-secondary btn-sm float-right" onclick="myFunction()">Dark mode</button></h2>
      </div>
  </div>
  <div class="card" style="width: 50%;">
    <div class="list-group list-group-primary">
        {% for todo in list_todo %}
            {% if not todo.status %}
                <li class="list-group-item">
                    <div class="item">
                        <p class="item-name">{{ todo.name }}<span class="float-right">{{ todo.duedate }}</span></p>
                        <a class="btn btn-primary btn-sm float-right" href="{% url 'mark_as_done' todo.id  %}" role="button">Done!</a>
                    </div>
                </li>
            {% endif %}
          {% endfor %}
    </div>
  </div>
  <div class="card">
      <p>
          {{ form_error }}
      </p>
      <form method="POST" action="{% url 'new_todo' %}" id="input-text" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <button type="submit" value="Submit" class="btn btn-primary">Make a new one </button>
      </form>
  </div>

</body>
</html>